:root{
  --transition-dalay:0.5s;
}

@keyframes textAnimation5 {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(100);
  }
}
@keyframes textAnimation1 {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(100);
  }
}

#luxe-menu-primary_navigation.luxe_text_animation_fade_down {
  animation:textAnimation1 1s ease-out;
}

@keyframes textAnimation2 {
  0% {
    opacity: 0;
    transform: translateX(150%);
  }
  
  50% {
    opacity: 0;
    transform: translateX(150%);
  }
  
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.text-animation2 {

  animation: textAnimation2 1s ease-in;
  animation-delay: var(--transition-delay);
}

@keyframes slideInAnimation {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

/* Apply animation to the menu items */
.luxe_text_animation_fade_right {
  position: relative;
  left: -100%;
  animation: slideInAnimation 1s ease-in-out forwards;
}

/*Toggle container animations*/

/*Animation 1*/

/* .luxe-menu-wrap .luxe-toggler:checked ~ .luxe-mobile-menu .toggler-container-animation-one {
  transform: scaleX(1);
  transition-duration: var(--luxe-menu-speed);
}
.luxe-menu-wrap .luxe-mobile-menu .toggler-container-animation-one{
  width: 100%;
  height: 100%;
  display: flex;
  flex: none;
  transform: scaleX(0);
  transition: all 0.4s ease;
} */

/*Animation 2*/
.luxe-menu-wrap
  .luxe-toggler:checked
  ~ .luxe-mobile-menu
  .luxe-background-animation-fade-right {
  transform: translateX(0);
  transition-duration: var(--luxe-menu-speed);
}
.luxe-menu-wrap .luxe-mobile-menu .luxe-background-animation-fade-right {
  width: 100%;
  height: 100%;
  display: flex;
  flex: none;
  transform: translateX(-100%);
  transition: all 0.4s ease;
}
.luxe-menu-wrap
  .luxe-toggler:checked
  ~ .luxe-mobile-menu
  .luxe-background-animation-fade-left {
  transform: translateX(0);
  transition-duration: var(--luxe-menu-speed);
}
.luxe-menu-wrap .luxe-mobile-menu .luxe-background-animation-fade-left {
  width: 100%;
  height: 100%;
  display: flex;
  flex: none;
  transform: translateX(200%);
  transition: all 0.4s ease;
}
.luxe-menu-wrap
  .luxe-toggler:checked
  ~ .luxe-mobile-menu
  .luxe-background-animation-fade-up {
  transform: translateY(0);
  transition-duration: var(--luxe-menu-speed);
}

.luxe-menu-wrap .luxe-mobile-menu .luxe-background-animation-fade-up {
  width: 100%;
  height: 100%;
  display: flex;
  flex: none;
  transform: translateY(100%);
  transition: all 0.4s ease;
}

/*Animation 3*/
.luxe-menu-wrap
  .luxe-toggler:checked
  ~ .luxe-mobile-menu
  .luxe-background-animation-fade-down {
  transform: translateY(0);
  transition-duration: var(--luxe-menu-speed);
}
.luxe-menu-wrap .luxe-mobile-menu .luxe-background-animation-fade-down {
  width: 100%;
  height: 100%;
  display: flex;
  flex: none;
  transform: translateY(-100%);
  transition: all 0.4s ease;
}

/*Animation 4*/
.luxe-menu-wrap
  .luxe-toggler:checked
  ~ .luxe-mobile-menu
  .luxe-background-animation-fade {
  opacity: 1;
  transition-duration: var(--luxe-menu-speed);
}

.luxe-menu-wrap .luxe-mobile-menu .luxe-background-animation-fade {
  background: black;
  width: 100%;
  height: 100%;
  display: flex;
  flex: none;
  opacity: 0;
  transition: all 0.9s ease;
}

/*Hamburger lines Animations*/

/* luxe-toggler Animation */
.luxe-menu-wrap .luxe-toggler:checked + .luxe-hamburger .luxe-hamburger-line {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.luxe-menu-wrap
  .luxe-toggler:checked
  + .luxe-hamburger
  .luxe-hamburger-line:before,
.luxe-menu-wrap
  .luxe-toggler:checked
  + .luxe-hamburger
  .luxe-hamburger-line:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.luxe-menu-wrap
  .luxe-toggler:checked:hover
  + .luxe-hamburger
  .luxe-hamburger-line {
  transform: rotate(225deg);
}
 
#luxe-menu-primary_navigation.luxe_text_animation_fade_up {
  animation:textAnimation5 1s ease-out;
}