
:root {
  --transition-delay: 0.5s;
}

/* @keyframes textAnimation5 {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes textAnimation1 {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
} */

#luxe-menu-primary_navigation li.luxe_text_animation_fade_down.luxe-text-checked {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

#luxe-menu-primary_navigation li.luxe_text_animation_fade_down {
  opacity: 0;
  transform: translateY(-30%);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}


/* @keyframes textAnimation2 {
  0% {
    opacity: 0;
    transform: translateX(30%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
} */

#luxe-menu-primary_navigation li.luxe_text_animation_fade_left.luxe-text-checked {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
#luxe-menu-primary_navigation li.luxe_text_animation_fade_left {
  /* animation: textAnimation2 1s ease-in-out; */
  opacity: 0;
  transform: translateX(50%);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

/* @keyframes slideInAnimation {
  0% {
    left: -30%;
  }
  100% {
    left: 0;
  }
} */
#luxe-menu-primary_navigation li.luxe_text_animation_fade_right.luxe-text-checked {
  transform: translateX(0%);
  /* animation: slideInAnimation 1s ease-in-out forwards; */
  opacity: 1;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

/* Apply animation to the menu items */
#luxe-menu-primary_navigation li.luxe_text_animation_fade_right {
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
#luxe-menu-primary_navigation li.luxe_text_animation_fade_up.luxe-text-checked {
  /* animation: textAnimation5 1s ease-in-out; */
  transform: translateY(0%);
  opacity: 1;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
#luxe-menu-primary_navigation li.luxe_text_animation_fade_up {
  /* animation: textAnimation5 1s ease-in-out; */
  transform: translateY(100%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/*Toggle container animations*/

/*Animation 1*/

/* .luxe-menu-wrap .luxe-toggler:checked ~ .luxe-mobile-menu .toggler-container-animation-one {
    transform: scaleX(1);
    transition-duration: var(--luxe-menu-speed);
  }
  .luxe-menu-wrap .luxe-mobile-menu .toggler-container-animation-one{
    width: 100%;
    height: 100%;
    display: flex;
    flex: none;
    transform: scaleX(0);
    transition: all 0.4s ease;
  } */

/*Animation 2*/
.luxe-menu-wrap
  .luxe-toggler:checked
  ~ .luxe-mobile-menu
  .luxe-background-animation-fade-right {
  transform: translateX(0);
  transition-duration: var(--luxe-menu-speed);
}

.luxe-menu-wrap .luxe-mobile-menu .luxe-background-animation-fade-right {
  width: 100%;
  height: 100%;
  display: flex;
  flex: none;
  transform: translateX(-100%);
  transition: all 0.4s ease;
}

.luxe-menu-wrap
  .luxe-toggler:checked
  ~ .luxe-mobile-menu
  .luxe-background-animation-fade-left {
  transform: translateX(0);
  transition-duration: var(--luxe-menu-speed);
}

.luxe-menu-wrap .luxe-mobile-menu .luxe-background-animation-fade-left {
  width: 100%;
  height: 100%;
  display: flex;
  flex: none;
  transform: translateX(200%);
  transition: all 0.4s ease;
}
.luxe-menu-wrap
  .luxe-toggler:checked
  ~ .luxe-mobile-menu
  .luxe-background-animation-fade-up {
  transform: translateY(0);
  transition-duration: var(--luxe-menu-speed);
}

.luxe-menu-wrap .luxe-mobile-menu .luxe-background-animation-fade-up {
  width: 100%;
  height: 100%;
  display: flex;
  flex: none;
  transform: translateY(100%);
  transition: all 0.4s ease;
}

/*Animation 3*/
.luxe-menu-wrap
  .luxe-toggler:checked
  ~ .luxe-mobile-menu
  .luxe-background-animation-fade-down {
  transform: translateY(0);
  transition-duration: var(--luxe-menu-speed);
}
.luxe-menu-wrap .luxe-mobile-menu .luxe-background-animation-fade-down {
  width: 100%;
  height: 100%;
  display: flex;
  flex: none;
  transform: translateY(-100%);
  transition: all 0.4s ease;
}

/*Animation 4*/
.luxe-menu-wrap
  .luxe-toggler:checked
  ~ .luxe-mobile-menu
  .luxe-background-animation-fade {
  opacity: 1;
  transition-duration: var(--luxe-menu-speed);
}

.luxe-menu-wrap .luxe-mobile-menu .luxe-background-animation-fade {
  background: black;
  width: 100%;
  height: 100%;
  display: flex;
  flex: none;
  opacity: 0;
  transition: all 0.9s ease;
}

/*Hamburger lines Animations*/

/* luxe-toggler Animation */
.luxe-menu-wrap .luxe-toggler:checked + .luxe-hamburger .luxe-hamburger-line {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.luxe-menu-wrap
  .luxe-toggler:checked
  + .luxe-hamburger
  .luxe-hamburger-line:before,
.luxe-menu-wrap
  .luxe-toggler:checked
  + .luxe-hamburger
  .luxe-hamburger-line:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.luxe-menu-wrap
  .luxe-toggler:checked:hover
  + .luxe-hamburger
  .luxe-hamburger-line {
  transform: rotate(225deg);
}

