.luxe-container {
  padding: 20px 20px 20px 0px;
  margin: auto;
}

.align-items-center {
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

.text-white {
  color: white;
}

.help-text {
  font-size: 18px;
  margin-left: 10px;
  text-decoration: none;
}

.row {
  display: flex;
  width: 100%;
}

.nav-tab-active {
  background-color: #fff;
  border-bottom-color: #fff;
}

.luxe-settings-section {
  display: none;
}

.luxe-settings-section-menu {
  background-color: white;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.luxe-settings-section-menu:not(:first-child) {
  margin-top: 20px;
}

.luxe-choose-menu h2 {
  display: none;
}

.luxe-settings-section.active {
  display: block;
}

.copy-container {
  width: 37%;
  margin-top: 43px;
}

.label {
  padding: 10px;
  font-size: 18px;
  color: #111;
}

.copy-text {
  position: relative;
  padding: 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
}

.copy-text input.text {
  padding: 10px;
  font-size: 18px;
  color: #555;
  border: none;
  outline: none;
  border: 1px solid black;
}

.copy-text button {
  padding: 10px;
  background: #5784f5;
  color: #fff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  left: 18px;
  position: relative;
}

.copy-text button:active {
  background: #809ce2;
}

.copy-text button:before {
  content: "Copied";
  position: absolute;
  top: -45px;
  right: 0px;
  background: #5c81dc;
  padding: 8px 10px;
  border-radius: 20px;
  font-size: 15px;
  display: none;
}

.copy-text button:after {
  content: "";
  position: absolute;
  top: -20px;
  right: 25px;
  width: 10px;
  height: 10px;
  background: #5c81dc;
  transform: rotate(45deg);
  display: none;
}

.copy-text.active button:before,
.copy-text.active button:after {
  display: block;
}

.luxe-settings-section-menu input[type="number"] {
  width: 60px !important;
}
.luxe-settings-section-menu select:not(:first-child) {
  width: 60px !important;
  margin-top: -3px;
  margin-left: 5px;
}
input[type="color"] {
  cursor: pointer;
}

div#luxe_mobile_menu_slide_logo_image_preview {
  margin: 34px;
}
.nav-tab-wrapper a:first-child {
  margin-left: 0px;
}
.toplevel_page_luxe-mobile-menu-slide-settings ul li:last-child a {
  color: #72aee6 !important   ;
}
.luxe-settings-section-menu h2:first-child {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
  color: #111;
  margin-top: 0px;
  font-weight: 600;
}
.luxe-settings-section-menu th,
.luxe-settings-section-menu td {
  padding: 10px 0px;
}
.luxe-settings-section-menu select,
.luxe-settings-section-menu input:not(input[type="color"]) {
  box-shadow: none;
  border-radius: 3px;
  width: 100px;
}
.pro-badge {
  display: inline-block;
  background-color: #133df5;
  padding: 0px 5px;
  color: white;
  border-radius: 26px;
  margin-left: 10px;
  font-size: 11px;
}

/* hamburger styles */

/* hamburger styles */

.admin-luxe-hamburger-label #luxe-hamburger-animation1,
.admin-luxe-hamburger-label #luxe-hamburger-animation2,
.admin-luxe-hamburger-label #luxe-hamburger-animation3,
.admin-luxe-hamburger-label #luxe-hamburger-animation4 {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#luxe-hamburger-animation1 span,
#luxe-hamburger-animation1 span,
#luxe-hamburger-animation3 span,
#luxe-hamburger-animation4 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#luxe-hamburger-animation1 span:nth-child(1) {
  top: 0px;
}

#luxe-hamburger-animation1 span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

#luxe-hamburger-animation1 span:nth-child(3) {
  bottom: 0px;
}

#luxe-hamburger-animation1.open span:nth-child(1) {
  top: 50%;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#luxe-hamburger-animation1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
#luxe-hamburger-animation1 {
  overflow: hidden;
}

#luxe-hamburger-animation1.open span:nth-child(3) {
  top: 50%;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Icon 2 */

/* #luxe-hamburger-animation2 {
} */

#luxe-hamburger-animation2 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#luxe-hamburger-animation2 span:nth-child(even) {
  /* left: 50%; */
  border-radius: 0 9px 9px 0;
}

#luxe-hamburger-animation2 span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#luxe-hamburger-animation2 span:nth-child(1) {
  top: 0px;
}
#luxe-hamburger-animation2 span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

#luxe-hamburger-animation2 span:nth-child(3),
#luxe-hamburger-animation2 span:nth-child(4) {
  bottom: 0;
}

#luxe-hamburger-animation2 span:nth-child(5),
#luxe-hamburger-animation2 span:nth-child(6) {
  top: 36px;
}

#luxe-hamburger-animation2.open span:nth-child(1),
#luxe-hamburger-animation2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#luxe-hamburger-animation2.open span:nth-child(2),
#luxe-hamburger-animation2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#luxe-hamburger-animation2.open span:nth-child(1) {
  top: 50%;
}

#luxe-hamburger-animation2.open span:nth-child(2) {
  top: 50%;
}

#luxe-hamburger-animation2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#luxe-hamburger-animation2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#luxe-hamburger-animation2.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#luxe-hamburger-animation2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

/* Icon 3 */

#luxe-hamburger-animation3 span:nth-child(1) {
  top: 0px;
}

#luxe-hamburger-animation3 span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
#luxe-hamburger-animation3 span:nth-child(3) {
  bottom: 0px;
}
#luxe-hamburger-animation3.open span:nth-child(2) {
  top: 50%;
}
#luxe-hamburger-animation3.open span:nth-child(3) {
  top: 50%;
}

#luxe-hamburger-animation3 span:nth-child(4) {
  top: 36px;
}

#luxe-hamburger-animation3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#luxe-hamburger-animation3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#luxe-hamburger-animation3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#luxe-hamburger-animation3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.admin-luxe-hamburger-label span {
  background-color: black !important;
}
#luxe-hamburger-animation4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#luxe-hamburger-animation4 span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#luxe-hamburger-animation4 span:nth-child(3) {
  bottom: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#luxe-hamburger-animation4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7%;
  left: 4px;
}

#luxe-hamburger-animation4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#luxe-hamburger-animation4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 76%;
  left: 4px;
}
.luxe-hamburger-container {
  display: flex;
  align-items: center;
  padding: 20px;
}

.admin-luxe-hamburger-label {
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 50px;
  outline: 1px solid lightgray;
  background-color: whitesmoke;
}

input[type="radio"] {
  display: none;
}

.hamburgers_container {
  width: 240px;
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.admin-luxe-hamburger-label.checked {
  outline: 2px solid #111;
  color: white;
}
.luxe-background-animation-name {
  text-align: center;
  text-align: center;
  width: 100%;
  display: inline-block;
}
.hamburgers_container.bg-animation {
  width: 100%;
}
.luxe-background-animation-name-img {
  margin: auto;
  text-align: center;
  width: 30px;
  height: 30px;
}
.hamburgers_container.bg-animation {
  text-align: center;
}
.hamburgers_container.bg-animation {
  display: grid;
  grid-template-columns: 70px 70px 70px 70px 70px;
  column-gap: 30px;
}
.background-animation-label {
  outline: 1px solid #8c8f94;
  padding: 10px;
  height: 75px;
  width: 70px;
  border-radius: 10px;
}
.background-animation-label.checked {
  outline: 2px solid #111;
}
.hamburgers_container.text-animation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.text-animation-label {
  width: 100px;
}
.text-animation-label span {
  display: inline-block;
  background-color: white;
  border: 1px solid #8c8f94;
  box-shadow: none;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
  text-align: center;
}
.text-animation-label.checked span {
  outline: 2px solid #111;
  color: black;
}
.hamburgers_container.text-animation {
  width: 290px;
}

.luxe-hamburger-styles-container {
  display: grid;
  grid-template-columns: 64% 34%;
  column-gap: 2%;
}
@media screen and (max-width: 706px) {
  .luxe-hamburger-styles-container {
    grid-template-columns: 100%;
  }
  .hamburgers_container.bg-animation {
    display: grid;
    grid-template-columns: 70px 70px;
    column-gap: 30px;
  }
}
.luxe-preview-container {
  background-color: #dadcdd;
}

.luxe-preview-container {
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.luxe-preview-container img {
  height: 220px;
  margin-top: 60px;
  opacity: 0.5;
}
span.luxe-preview-badge {
  text-align: center;
  width: 20%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f0f0f1;
  border-radius: 0px 0px 10px 10px;
  padding: 5px 25px;
  font-weight: bold;
}
.luxe-preview-menu-text {
  text-align: center;
  font-size: 18px;
  color: #989898;
  font-weight: 400;
}
.luxe-preview-hamburger-container {
  display: flex;
  width: 100%;
  height: auto;
}
.luxe-preview-hamburger {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
.luxe-preview-hamburger-lines {
  display: block;
}
.luxe-hamburger-line-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  z-index: 99;
}

.pickr {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.pickr .pcr-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.luxe-settings-section-menu td select{
  display: inline-block;
}  
.luxe-shortcode-bar label{
  line-height: 2;
}